.aboutMe {
    padding: 10px 100px;
}

.projects {
    background-color: white;
    padding: 10px 100px;
}

.techStack {
    padding: 10px 100px;
}

.techStack div img {
    margin: 5px;
}

.socials {
    background-color: white;
    padding: 10px 100px;
}

.socials ul {
    list-style: none;
    font-size: 1.5rem;
}